body{
    overflow-x: hidden;
}

.app_categoryheadermenu_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    max-height: 48px;
    background: var(--secondary-gray);
    padding: 0 0px;
    margin: 0;
}

.app_categoryheadermenu_container h2{
    margin: 4px 0 4px 32px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.app_categoryheadermenu_container span{
    margin-right: 15px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

.app_categoryheadermenu_container button{
    cursor: pointer;
    border: none;
    margin: 0 3px;
    background-color: transparent;
}

.app_categoryheadermenu_container button:hover{
    opacity: 0.7;
}
.app_categoryheadermenu_container button:active{
    opacity: 0.5;
}

.app_categoryheadermenu_container button{
    cursor: pointer;
    border: none;
    margin: 0 3px
}

.app_categoryheadermenu_controllers{
    margin-right: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}