:root {
  --blue: #5062F0;
  --white: #FFFFFF;
  --black: #454A67;
  --black-secondary: #1F2445;
  --black-overlay: #010311;
  --pressed-button: #0B1A8E;
  --gray: #bbb;
  --secondary-gray: #F2F3F8;
  --link-color: #5062F0;
}

table{
  width: 100%;
  padding: 0 50px;
}


.app_main_paginationBody{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.app_main_paginationBody div{
  margin: 0 5px;
}

.displayBlocks{
  display: flex;
  flex-wrap: wrap;
  flex: 50%;
}

